<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blah.title %>
</p>

<p>
  <b>Payload:</b>
  <%= @blah.payload %>
</p>


<%= link_to 'Edit', edit_blah_path(@blah) %> |
<%= link_to 'Back', blahs_path %>
